@import url('https://fonts.googleapis.com/css?family=Poppins:400');

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #000000;
  font-family: 'Poppins';
  color: white;
  text-align: center;
  background-image: url("bg.jpg");
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin-top: 1em;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
}

.log {
  width: 50%;
  padding-bottom: 6rem;
}

@media (max-width: 575px) {
  
  .log {
    width: 90%;
  }

}
